/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  font-family: "PressStart2P-regular";
  src: local("PressStart2P-regular"),
    url(PressStart2P-Regular.woff) format(woff);
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Variable";
  src: local("Inter-Variable"), url(Inter-Variable.woff2) format("woff2"),
    url(Inter-Variable.woff2) format("woff2 supports variations"),
    url(Inter-Variable.woff2) format("woff2-variations");
  font-weight: 400 785;
  font-display: swap;
  font-style: normal;
}
