/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  font-family: var(--accident-font), "Open Sans";
  font-weight: 400;
  font-size: 14px;
  background-image: var(--page-gradient);
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin: 100px auto 98px;
  border: 2px solid #000;
  padding-block: clamp(122px, 100vh, 130px);
  font-family: var(--accident-font), "Open Sans";
  font-weight: 400;
  text-transform: uppercase;
  background-color: #fff;
  block-size: 368px;
  @media (width <=376px) {
    block-size: 325px;
  }
}
.card {
  display: flex;
  flex-direction: column;
  inline-size: var(--card-width);
}
.title__header-logo {
  font-size: calc(3.0625rem + ((1vw - 3.2px) * 2.2727));
}

.title__header-slogan {
  font-size: calc(0.875rem + ((1vw - 3.75px) * 1.3867));
}
.card__title,
.card__text {
  font-family: var(--variation-font), "Open Sans";
  font-size: 18px;
  line-height: 21px;
}

.main {
  gap: 50px;
  margin: auto;
  background-color: #fff;
}

.card__section {
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid var(--global-color);
  background-color: #fff;
}
.card__text {
  padding-inline: var(--indentation-card);
  padding-block-start: var(--indentation-card);
}
.card__image-block {
  display: block;
  width: 100%;
  object-fit: cover;
  outline: 2px solid var(--global-color);
  aspect-ratio: 1 / 1;
}
.card__title {
  padding: 6px 10px;
  line-height: 1.2;
  font-variation-settings: "wght" var(--font-title-weight, 410);
}
.image-block {
  position: relative;
}
/*блок с независимым HTML*/
.label__image-block {
  position: absolute;
  opacity: 0.4;
  color: var(--global-color);
  font-family: var(--accident-font);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: var(--label-shadow);
  -webkit-text-stroke: 1px #fff;
  inset-block-start: var(--indentation-card);
  inset-inline-end: var(--indentation-card);
  mix-blend-mode: hard-light;
}
@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .label__image-block {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

/*Like*/
.button__icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
  margin-inline-end: var(--indentation-card);
  margin-block: var(--indentation-card);
}
.card__like-button {
  padding: 10px 35px;
  cursor: pointer;
}
.card__like-button:focus {
  outline: none;
}
.card__like-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--global-color);
  outline: none;
}

/*Heart*/
.card__icon-button:focus-visible {
  outline: 2px solid var(--global-color);
  transition: outline 0.3s ease;
}
.card__icon-button {
  border: 0;
  outline: none;
  background-color: transparent;
  transition: 0.3s ease;
  cursor: pointer;
}

/*сохранить на память*/
.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__save-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-block-start: 50px;
  margin-block-end: 100px;
  border: 2px solid var(--global-color);
  padding: 15px 17px;
  font-family: var(--accident-font);
  text-align: center;
  cursor: pointer;
  @media (min-width: 696px) {
    flex-direction: row;
  }
}
.card__save-floppy {
  flex: 0 0 21px;
  max-inline-size: 21px;
  @media (width <=376px) {
    flex: 0 0 28px;
    max-inline-size: 28px;
  }
}

/*псевдоэлемент*/
.focus-button::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 0%;
  height: 100%;
  background-color: var(--global-color);
  transition: 0.5s ease-in-out;
}
.focus-button:hover::after {
  z-index: 1;
  width: 100%;
  background-color: var(--global-color);
  transition: 0.5s ease-in-out;
}
.focus-button:hover {
  .button__text {
    position: relative;
    z-index: 2;
    color: #fff;
  }
}
.button__text {
  position: relative;
  z-index: 2;
  color: #000;
  transition: 0.5s ease-in-out;
}
.focus-button {
  font-family: var(--accident-font);
  font-size: 14px;
  background-color: transparent;
}
/*focus*/
.card__focus-button {
  position: relative;
  z-index: 1;
}

/*dialog-section*/
dialog {
  position: fixed;
  margin: 0;
  padding: 30px 40px;
  font-family: var(--accident-font);
  font-size: 14px;
  text-transform: uppercase;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  translate: -50% -50%;
}
dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}
.close {
  width: 100%;
  padding: 12px 116px;
  cursor: pointer;
}
.card__save-button_close[open] {
  outline: 1px solid var(--global-color);
  inline-size: clamp(341px, 100vw, 353px);
  block-size: 191px;
}

.card__focus-button-save {
  margin-block-start: 30px;
}
.dialog__section {
  display: flex;
  gap: 20px;
}
.dialog__section-floppy {
  max-inline-size: 39px;
}

/*filters*/

.card__image-filter_confusion {
  filter: hue-rotate(80deg) contrast(3);
}
.card__image-filter_diffidence {
  filter: blur(0.2rem);
}
.card__image-filter-perfectionism {
  filter: saturate(10);
}
.card__image-filter-matrix {
  filter: grayscale(100%);
}
.card__image-filter-changing {
  filter: invert(40%);
}
.card__image-filter-tired {
  filter: sepia(50);
}
.card__image-filter-unstopble {
  filter: contrast(5);
}

/* animation heart*/

.heart-sparks {
  opacity: 0;
}
.heart-main-body {
  fill: transparent;
  transition: fill 0.3s 0s linear;
}
.heart-core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}
.heart-contour {
  fill: var(--contour-color);
  transition: fill 0.1s 0s linear;
}
.like-icon:hover .heart-core {
  fill: var(--contour-color);
  transition: fill 0.3s 0s linear;
}
.like-icon:hover .heart-main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}
.like-icon:active .heart-core {
  fill: var(--animation-heart-main-body);
  transition: fill 0.3s 0s linear;
}
.like-icon:active .heart-main-body {
  fill: var(--animation-heart-main-body);
  transition: fill 0.3s 0.05s linear;
}
.like-icon.is-liked .heart-core {
  fill: var(--animation-heart-main-body);
  transition: fill 0.3s 0s linear;
}
.like-icon.is-liked .heart-main-body {
  fill: var(--animation-heart-main-body);
  transition: fill 0.3s 0.05s linear;
}
.like-icon.is-liked .heart-contour {
  fill: var(--animation-heart-main-body);
  transition: fill 0.3s 0.06s linear;
}
.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart 0.3s ease-in;
  animation-delay: 0.1s;
}
.like-icon.is-liked .heart-sparks {
  animation: sparks 0.3s ease-in;
  animation-delay: 0.3s;
}
