/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  font-family: var(--variation-font), "Open Sans";
  font-size: 18px;
  line-height: 21px;
  background-image: var(--page-gradient);
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 100px auto;
  padding-block: clamp(122px, 100vh, 130px);
  font-family: var(--accident-font);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fff;
  block-size: clamp(327px, 100vw, 368px);
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.card {
  inline-size: var(--card-width);
  white-space: wrap;
}
.card__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 2px solid #000000;
  background-color: #fff;
  min-block-size: clamp(820px, 100vw, 956px);
}
.card__text {
  padding-inline: var(--indentation-card);
  padding-block-start: var(--indentation-card);
}
.card__image-block {
  display: block;
  width: 100%;
  object-fit: cover;
  outline: 2px solid #000000;
  aspect-ratio: 1 / 1;
}
.card__title {
  padding: 6px 4px;
  font-weight: var(--font-title-weight);
  line-height: 100%;
}
.image-block {
  position: relative;
}
/*блок с независимым HTML*/
.label__image-block {
  position: absolute;
  opacity: 0.4;
  color: #000;
  font-family: var(--accident-font);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: var(--label-shadow);
  -webkit-text-stroke: 1px #fff;
  inset-block-start: var(--indentation-card);
  inset-inline-end: var(--indentation-card);
  mix-blend-mode: hard-light;
}
@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .label__image-block {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

/*Like*/
.button__icon {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-block: var(--indentation-card);
  margin-inline-end: var(--indentation-card);
}
.card__like-button {
  padding: 12px 37px;
}

/*Heart*/
.card__icon-button:focus-visible {
  outline: 2px solid #000;
  transition: outline 0.3s ease;
}
.card__icon-button {
  box-sizing: border-box;
  display: block;
  border: none;
  outline: 2px solid transparent;
  transition: 0.3s ease;
  object-fit: cover;
  background-color: transparent;
  cursor: pointer;
}

/*сохранить на память*/
.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__save-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-block-start: 50px;
  padding-inline: 20px;
  padding-block: 17px;
  font-family: var(--accident-font);
  font-size: 14px;
  text-align: center;
  @media (min-width: 696px) {
    flex-direction: row;
  }
}
.card__save-floppy {
 flex: 0 0 21px; 
 object-fit: cover; 
 max-inline-size: 21px;
}

/*псевдоэлемент*/
.focus-button::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 0%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  transition: 0.5s ease-in-out;
}
.focus-button:hover::after {
  width: 100%;
  background-color: #000;
  transition: 0.5s ease-in-out;
  z-index: 1;
}
.focus-button:hover {
  .button__text {
    position: relative;
    color: #fff;
    z-index: 2;
  }
}
.button__text {
  position: relative;
  color: #000;
  z-index: 2;
  transition: 0.5s ease-in-out;
}
.focus-button {
  font-family: var(--accident-font);
  font-size: 14px;
  background-color: transparent;
}
/*focus*/
.focus-button:focus-visible {
  box-shadow: 2px 2px 0 #000;
  transition: box-shadow 0.3s ease;
}

.card__focus-button {
  position: relative;
  z-index: 1;
}

/*dialog-section*/
dialog {
  position: fixed;
  margin: 0;
  padding: 30px 40px;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  translate: -50% -50%;
  font-family: var(--accident-font);
  font-size: 14px;
  text-transform: uppercase;
}
dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}
dialog::backdrop {
  pointer-events: none;
  background: rgba(0, 0, 0, 0.7);
}
.close {
  padding: 12px 116px;
  width: 100%;
}
.card__save-button_close[open] {
  outline: 1px solid #000;
  inline-size: clamp(341px, 100vw, 360px);
}

.dialog__section {
  display: flex;
  gap: 20px;
}
.dialog__section-floppy {
max-inline-size: 39px; 
}

/* svg { width: 100%; height: 100%; } */

/*filters*/

.card__image-filter_confusion {
  filter: hue-rotate(80deg) contrast(3);
}
.card__image-filter_diffidence {
  filter: blur(0.2rem);
}
.card__image-filter-perfectionism {
  filter: saturate(10);
}
.card__image-filter-matrix {
  filter: grayscale(100%);
}
.card__image-filter-changing {
  filter: invert(40%);
}
.card__image-filter-tired {
  filter: sepia(50);
}
.card__image-filter-unstopble {
  filter: contrast(5);
}

/* animation heart*/

.heart-sparks {
  opacity: 0;
}
.heart-main-body {
  fill: transparent;
  transition: fill 0.3s 0s linear;
}
.heart-core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}
.heart-contour {
  fill: var(--contour-color);
  transition: fill 0.1s 0s linear;
}
.like-icon:hover .heart-core {
  transition: fill 0.3s 0s linear;
  fill: var(--contour-color);
}
.like-icon:hover .heart-main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--contour-color);
}
.like-icon:active .heart-core {
  transition: fill 0.3s 0s linear;
  fill: var(--animation-heart-main-body);
}
.like-icon:active .heart-main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--animation-heart-main-body);
}
.like-icon.is-liked .heart-core {
  transition: fill 0.3s 0s linear;
  fill: var(--animation-heart-main-body);
}
.like-icon.is-liked .heart-main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--animation-heart-main-body);
}
.like-icon.is-liked .heart-contour {
  transition: fill 0.3s 0.06s linear;
  fill: var(--animation-heart-main-body);
}
.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in;
  animation-delay: 0.1s;
  transform-origin: center;
}
.like-icon.is-liked .heart-sparks {
  animation: sparks 0.3s ease-in;
  animation-delay: 0.3s;
}
