/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
svg {
  fill: #000000;
  inline-size: 100%;
}
.page {
  font-family: var(--variation-font), "Open Sans";
  font-size: 18px;
  line-height: 21px;
  background-image: var(--page-gradient);
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 100px auto;
  padding-block: clamp(122px, 100vh, 130px);
  font-family: var(--accident-font);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fff;
  block-size: clamp(327px, 100vw, 368px);
}
.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.card {
  inline-size: var(--card-width);
  white-space: wrap;
}
.card__section {
  margin: auto;
  border: 2px solid #000000;
  background-color: #fff;
  min-block-size: clamp(820px, 100vw, 956px);
}
.card__image-block {
  display: block;
  object-fit: cover;
  outline: 2px solid #000000;
  width: 100%;
  aspect-ratio: 1 / 1;
}
.card__title {
  padding: 6px 4px;
  font-weight: var(--font-title-weight);
  line-height: 100%;
}

.image-block {
  position: relative;
}
.label__image-block {
  position: absolute;
  opacity: 0.4;
  color: #000;
  font-family: var(--accident-font);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: var(--label-shadow);
  -webkit-text-stroke: 1px #fff;
  inset-block-start: var(--indentation-card);
  inset-inline-end: var(--indentation-card);
  mix-blend-mode: hard-light;
}
@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .label__image-block {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}
.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__icon {
  margin-block: var(--indentation-card);
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  align-items: center;
}
.card__icon-button {
  display: block;
  border: none;
  object-fit: cover;
  background-color: transparent;
  cursor: pointer;
}
.card__save-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: var(--accident-font);
  font-size: 14px;
  padding-block: 17px;
  padding-inline: 20px;
  text-align: center;
  margin-block-start: 50px;
  @media (min-width: 696px) {
    flex-direction: row;
  }
}

.card__save-button svg {
  width: 28px;
  @media (min-width: 700px) {
    width: 24px;
  }
}
.card__like-button {
  padding: 12px 37px;
  font-family: var(--accident-font);
  font-size: 14px;
  background-color: transparent;
}
.button__icon,
.card__text {
  padding-inline: var(--indentation-card);
  padding-block-start: var(--indentation-card);
}
.close {
  margin-block-start: 30px;
  padding: 12px 116px;
}
/* .card__save-button_close[open] {
  display: block;
  outline: 1px solid #000;
  min-width: clamp(341px, 100vw, 353px);
  padding: 30px;
}
.button__text {
  display: flex;
  font-size: 14px;
  font-family: var(--accident-font);
  line-height: 150%;
  text-transform: uppercase;
  flex-shrink: 5;
  flex-grow: 1;
}
.popup {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.popup svg {
  display: flex;
  width: 39px;
  flex-grow: 2;
} */
