/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --accident-font: "PressStart2P-regular";
  --variation-font: "Inter-Variable";
  --font-title-weight: 715;
  --font-paragraph-weight: 410;
  --page-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --card-width: clamp(370px, 100%, 700px);
  --indentation-card: 25px;
  --label-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
